@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CHECKPOINT 02</h1>
</div>

<div class="row">
    <!-- ########## DONOS ########## -->
    <div class="col-md-4">
        <h2>Donos</h2>
        <p><a class="btn btn-default" href="/Dono">LISTAR &raquo;</a></p>
    </div>

    <!-- ########## CÃES ########## -->
    <div class="col-md-4">
        <h2>Cães</h2>
        <p><a class="btn btn-default" href="/Cao">LISTAR &raquo;</a></p>
    </div>

    <!-- ########## CÃES E DONOS ########## -->
    <div class="col-md-4">
        <h2>Cães e Donos</h2>
        <p><a class="btn btn-default" href="/Cao_Dono">LISTAR &raquo;</a></p>
    </div>

    <!-- ########## RAÇAS ########## -->
    <div class="col-md-4">
        <h2>Raças</h2>
        <p><a class="btn btn-default" href="/Raca">LISTAR &raquo;</a></p>
    </div>
</div>